body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
    left: 150px;
    right: 150px;

}

.pikachu {
    width: 180px;
    height: 180px;
    position: absolute;
    background-image: url("./assets/img/pikachuback.gif");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;

}

.screen-msg {
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

#ash-hud {
    border: 2px solid #000;
    width: 300px;
    height: 20px;
    background-color: #fff;

}

#ash-lifebar {
    width: 300px;
    height: 20px;
    background-color: #55f;
    
}

.player-shot {
    width: 50px;
    height: 50px;
    background-image: url("./assets/img/bolt.gif");
    background-repeat: no-repeat;
    border-radius: 6px;
    position: absolute;
}

.enemy {
    width: 100px;
    height: 100px;
    background-image: url("./assets/img/badspearow.gif");
    background-clip: content-box;
    position: absolute;
    z-index: 1;
    
}


.enemy-explosion {
    width: 100px;
    height: 100px;
    position: absolute;
    
}

.ash-damage {
    width: 100px;
    height: 100px;
    position: absolute;
    
}

.video-player {
    display: none;
    position: absolute;

}


